* {
  box-sizing: border-box;
}
body {
    font-size: 100%;
    background-image: url(skeletons.png);
      background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  font-family: "BBH Bogle", sans-serif;
  background-color: rgb(0, 0, 0);
}

.topnav {
  overflow: hidden;
  background-color: #000000b0;
}
.topnav ul{
  display: flex;
  justify-content: center;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 25px;
}
.topnav img{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
#myDIV {
  border: 15px solid transparent;
  padding: 5px;
  border-image-source:url('bone.png');  
  border-image-repeat: repeat;
  border-image-slice: 70;
  border-image-width: 20px;
  border-image-outset: 25px;
  }
.item {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
         font-family: "Share Tech", sans-serif;
    margin: auto;
    width: 50%;
}
.item img {
  float: left;
  padding: 5px;
  display:flex;
  margin: auto;
  justify-content: right;
}

.item p{
  font-size: 25px;
}

.container {
color: white;
text-align: center;
padding: 10px;
height: 75%;
margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#jumpscareContainer {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: black;
    display: flex; justify-content: center; align-items: center;
    z-index: 9999;
}

.hidden {
    display: none !important;
}

#jumpscareImage {
    max-width: 100%; max-height: 100%;
}
button{
  position: absolute;
  top: 70%;
right: 50px;
 background-color: #000000;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-20px); }
    40%, 80% { transform: translateX(20px); }
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color: #000000b0;
   color: white;
   text-align: center;
}
